<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page with Background Image</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> 👋 🙂 Hello-Greetings!!</h1>
</html>


</html>
